<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <title>Platformer Console Demo</title>
    <!-- Favicon -->
    <link href="assets/favicon.ico" rel="icon" type="image/png">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <!-- Icons -->
    <link href="assets/vendor/nucleo/css/nucleo.css" rel="stylesheet">
    <link href="assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- Argon CSS -->
    <link type="text/css" href="assets/css/argon.css?v=1.0.1" rel="stylesheet">
    <!-- Docs CSS -->
    {{!-- <link type="text/css" href="assets/css/docs.min.css" rel="stylesheet"> --}}
    <style>
        .strong {
            font-weight: 400 !important;
            background-color: rgba(0, 0, 0, 0.05);
        }

        .btn-default {
            border-color: #0076d1 !important;
            background-color: #0076d1 !important;;

        }
    </style>
</head>

<body>

    <header class="header-global">
        <nav id="navbar-main" style="background-color:rgba(0, 0, 0, 0.1)"
            class="navbar navbar-fixed navbar-main navbar-expand-lg navbar-transparent navbar-light headroom">
            <div class="container">
                <a class="navbar-brand mr-lg-5" href="../index.html">
                    <img src="../assets/img/demo/logo/logo-inverted.png">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_global"
                    aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse" id="navbar_global">
                    <div class="navbar-collapse-header">
                        <div class="row">
                            <div class="col-6 collapse-brand">
                                <a href="../index.html">
                                    <img src="../assets/img/demo/logo/logo-inverted.png">
                                </a>
                            </div>
                            <div class="col-6 collapse-close">
                                <button type="button" class="navbar-toggler" data-toggle="collapse"
                                    data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false"
                                    aria-label="Toggle navigation">
                                    <span></span>
                                    <span></span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <ul class="navbar-nav align-items-lg-center ml-lg-auto">


                        <li class="nav-item d-none d-lg-block ml-lg-4">
                            <a href="https://beta.console.platformer.com" target="_blank"
                                class="btn btn-neutral btn-icon">

                                <span class="nav-link-inner--text">Console</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    {{{body}}}

    <footer class="footer">
        <div class="container">
            <div class="row row-grid align-items-center mb-5">
                <div class="col-lg-6">
                    <h3 class="text-primary font-weight-light mb-2">Thank you for supporting us!</h3>
                    <h4 class="mb-0 font-weight-light">Let's get in touch on any of these platforms.</h4>
                </div>
                <div class="col-lg-6 text-lg-center btn-wrapper">
                    <a target="_blank" href="https://twitter.com/platformer"
                        class="btn btn-neutral btn-icon-only btn-twitter btn-round btn-lg" data-toggle="tooltip"
                        data-original-title="Follow us">
                        <i class="fa fa-twitter"></i>
                    </a>

                    <a target="_blank" href="https://github.com/platformer-com"
                        class="btn btn-neutral btn-icon-only btn-github btn-round btn-lg" data-toggle="tooltip"
                        data-original-title="Star on Github">
                        <i class="fa fa-github"></i>
                    </a>
                </div>
            </div>
            <hr>
            <div class="row align-items-center justify-content-md-between">

            </div>
        </div>
    </footer>
    <!-- Core -->
    <script src="assets/vendor/jquery/jquery.min.js"></script>
    <script src="assets/vendor/popper/popper.min.js"></script>
    <script src="assets/vendor/bootstrap/bootstrap.min.js"></script>
    <script src="assets/vendor/headroom/headroom.min.js"></script>
    <!-- Argon JS -->
    <script src="assets/js/argon.js?v=1.0.1"></script>

</body>

</html>